// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flash_notice {
  background: red;
  color: white;
  padding: 5px;
  border: solid 1px darken(red, 20%);
  text-align: center;
}

#content {
  padding: 5px;
  text-align: left;
}

body {
  margin: 10px;
  border: solid 2px green;
  border-radius: 10px;
  font-family: sans-serif;
}

h1 {
  font-family: Times;
  padding-left: 40px;
}

li {
  list-style-type: none;
  font-family: Courier-New;
  // border: 1px dotted blue;
  // border-radius: 3px;
}
